.ipynb_checkpoints
one_layer_primitive_wet/
speedyweather_T30_vor_div_reanalysis
speedy_1layer_vor_div_reanalysis.npz
tisr_regridded_20010101.npz
playground.ipynb
tisr/
eight_layer_primitive_wet/
reanalysis_on_NCI/
one_layer_up_to_training/
eight_layer_up_to_training/
orography_T31.nc
restart_runs/
